@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --voila-gradient: linear-gradient(
    54deg,
    #ec0d78 0%,
    #fd2944 43.24%,
    #f84e37 72.8%,
    #fe880e 100%
  );
}

.gradient-text {
  background: var(--voila-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background: var(--voila-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}
#root {
}

.iphone-bg {
  background: radial-gradient(
    209.14% 104.17% at 50% 104.17%,
    #000005 0%,
    #1c0864 29.17%,
    #9136c3 65.62%,
    #e894f1 94.78%
  );
}

body {
  font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, Ubuntu;
}

/* Typography */
.body1 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}
.h2 {
  font-size: calc(30px + (5200vw - 26000px) / 1900);
  letter-spacing: -0.025em;
  line-height: 1.1;
}
.h3 {
  font-size: calc(100px + (27500vw - 137500px) / 1900);
  font-weight: 800;
  line-height: 0.9;
}
@media screen and (min-width: 768px) {
  .body1 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    /* Adjust other properties as needed */
  }
}

@media screen and (min-width: 1200px) {
  .body1 {
    font-size: 1.15rem;
    line-height: 1.25rem;
    /* Adjust other properties as needed */
  }
}
