@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}
#root {
}

.iphone-bg {
  background: radial-gradient(
    209.14% 104.17% at 50% 104.17%,
    #000005 0%,
    #1c0864 29.17%,
    #9136c3 65.62%,
    #e894f1 94.78%
  );
}

body {
  font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, Ubuntu;
}

/* Typography */
.body1 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .body1 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    /* Adjust other properties as needed */
  }
}

@media screen and (min-width: 1200px) {
  .body1 {
    font-size: 1.15rem;
    line-height: 1.25rem;
    /* Adjust other properties as needed */
  }
}
